.text-center.text-lg-start.bg-light.text-muted
    section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
        .me-5.d-none.d-lg-block
            span Get connected with us on social networks:
        div
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-facebook-f
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-twitter
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-google
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-instagram
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-linkedin
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-github
    section
        .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
            | &copy; 2021 Copyright:
            a.text-decoration-none.text-reset.fw-bold(href='/')  RealChatApp.com