.text-center.text-lg-start.bg-light.text-muted
    section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
        .me-5.d-none.d-lg-block
            span Get connected with us on social networks:
        div
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-facebook-f
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-twitter
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-google
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-instagram
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-linkedin
            a.text-decoration-none.me-4.text-reset(href='')
                i.fab.fa-github
    section
        .container.text-center.text-md-start.mt-5
            .row.mt-3
                .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        i.fas.fa-gem.me-3
                        | Company name
                    p
                        | Here you can use rows and columns to organize your footer content. Lorem ipsum
                        | dolor sit amet, consectetur adipisicing elit.
                .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        | Products
                    p
                        a.text-decoration-none.text-reset(href='#!') Angular
                    p
                        a.text-decoration-none.text-reset(href='#!') React
                    p
                        a.text-decoration-none.text-reset(href='#!') Vue
                    p
                        a.text-decoration-none.text-reset(href='#!') Laravel
                .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        | Useful links
                    p
                        a.text-decoration-none.text-reset(href='#!') Pricing
                    p
                        a.text-decoration-none.text-reset(href='#!') Settings
                    p
                        a.text-decoration-none.text-reset(href='#!') Orders
                    p
                        a.text-decoration-none.text-reset(href='#!') Help
                .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
                    h6.text-uppercase.fw-bold.mb-4 Contact
                    p
                        i.fas.fa-home.me-3
                        |  New York, NY 10012, US
                    p
                        i.fas.fa-envelope.me-3
                        |             info@example.com
                    p
                        i.fas.fa-phone.me-3
                        |  + 01 234 567 88
                    p
                        i.fas.fa-print.me-3
                        |  + 01 234 567 89
        .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
            | &copy; 2021 Copyright:
            a.text-decoration-none.text-reset.fw-bold(href='/')  RealChatApp.com