.d-flex.flex-row-flex-md-row.align-items-center.justify-content-between.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
    h5.my-0.mr-md-auto.font-weight-normal RealChatApp
    nav.my-2.my-md-0.mr-md-3
        a.p-2.text-decoration-none.text-dark(href='#') Enterprise
        a.p-2.text-decoration-none.text-dark(href='#') Support
        a.p-2.text-decoration-none.text-dark(href='#') Pricing
        a.p-2.text-decoration-none.text-dark(href='#') Features
    if okla && okla.username
        div #{okla.username}
    else
        div
            a.m-2.btn.btn-outline-primary(href='/account/signup') Sign up
            a.btn.btn-outline-primary(href='/account/login') Login
