
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

#chat {
    height: 530px;
}
#user-selection{
    height: 90%;
    background-color: #4f2f4c;
    color: #f1f1f1;
}

.itemSelect{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 12px;
}

.badge {
    position: absolute;
    top: 30%;
    right: 5px;
    margin: 0 auto;
    background-color: red;
}

ul#friend{
    margin: 0px;
    padding: 0px
}

.itemSelect button {
    color: #f1f1f1;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px;
    text-align: left;
}
.itemSelect:hover{
    background-color: #350d36;
}
#topbar-chat{
    height: 10%;
    
}
.title {
    background-color: #350d36 !important;
    font-size: 16px;
    font-weight: bold;
}

.custome-border {
    border-bottom: 1px solid rgba(207, 199, 199, 0.1) !important;

}

#right-block{
    height: 90%;    
}

 span.icon-online{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: green;
    margin-right: 8px;
    display: inline-block;
    margin-left: 10px;
}
div.tab-content {
    height:85%;
    overflow-y: scroll; 
}

ul.messages {
    list-style: none;
}

#form-chat{
    height: 15%;

}

@media(width < 576px) {
    #right-block{
        padding-left: 0px;
    }
}