
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

#chat {
    height: 530px;
}
#user-selection{
    height: 90%;
    background-color: #3f0e40;
    color: #f1f1f1;

}

#topbar-chat{
    height: 10%;
    
}
/* #user-selection li.user:hover {
    color: whitesmoke;
    background-color: aliceblue ;
} */

#right-block{
    height: 90%;    
}

li span.icon-online{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: green;
    margin-right: 8px;
    display: inline-block;
    margin-left: 10px;
}

ul#messages {
    list-style: none;
    height:85%;
    overflow-y: scroll; 

}

#form-chat{
    height: 15%;

}



@media(width < 576px) {
    #right-block{
        padding-left: 0px;
    }
}