#chat {
   
}

#user-selection {
    background-color: #3f0e40;
}

#user-selection li {
    color: whitesmoke;
}

li .icon-online{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: green;
    margin-right: 8px;
    display: inline-block;
    margin-left: 10px;
}

ul#messages {
    list-style: none;
    min-height: 300px;
}

#right-block{
    overflow: hidden;
    
}

@media(width < 576px) {
    #right-block{
        padding-left: 0px;
    }
}