.shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#main{
    min-height: 60vh;
    margin:30px 0px;

}
#footer{
    /* min-height: 30vh; */
    color: #fff!important;
    position: relative;
    
}

@media(max-width: 576px){
    #headers #raw-menu{
        display: none !important;
    }

    .form-chat{
        margin-bottom: 5px;
    }
}